.jumbotron {
	background-color: #4683eb;
	color: #fff;
	font-family: "Segoe UI",sans-serif;
}
			
.computer-drawing {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.centered-text {
	text-align: center;
}